*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}
header{
    background-color:rgb(87, 83, 83);
    padding:15px 0px;
    color: white;
    
}
header.container{
    max-width: 90%;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;

}
nav ul{
    list-style-type:none;
    display: flex;
    gap:10px;
}
nav ul a:link,
nav ul a:visited,
nav ul a:active,
nav ul a:hover{
    color:white;
    text-decoration: none;
}
nav ul a:hover{
    color: brown;
    font-weight: bold;
}


section#hero{
    background-image: url(download.jfif);
    background-size: cover;
}
section#hero .container{
    max-width: 90%;
    margin: auto;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero-content{
    color: white;
}
.hero-content h1{
    font-size: 40px;
    margin-bottom: 15px;
}

/*common*/
.flex-row{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
}
.flex-col{
    flex: 1;
}
section#about{
    margin-top: 20px;
}
section#about .container{
    max-width: 90%;
    margin: auto;
}
.about-text,.about-img{
    background-color:white;
    min-width: 300px;
    min-height: 250px;
}
img.about-img{
    width:100%;
    
}
.about-text h2,.about-text p{
    margin-bottom: 40px;
}
section#services{
    margin-top: 50px;
}
section#services .container{
    max-width:90%;
    margin: auto;
    /*padding-left: 50px;*/
}
.services{
    min-width: 250px;
    min-height:300px;
}
section#services h2{
    text-align: center;
    margin:50px 0px 40px;
}
img.service-pic{
    width: 100%;
}


section#products{
    margin-top: 15px;
}
section#products .container{
    max-width:90%;
    margin: auto;
}
.products{
    min-width: 250px;
    min-height:300px;
}
section#products h2{
    text-align: center;
    margin:15px 0px 40px;
}
img.product-pic{
    width: 100%;
}
section#footer{
    background-color: black;
    background-size: cover;
}
section#footer .container{
    max-width: 90%;
    margin: auto;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer-content{
    color: white;
}
.footer-content h1{
    font-size: 40px;
    margin-bottom: 15px;
}
.box1{
    background-color: white;
    width: 60px;
    position:fixed;
    right: 50px;
    top: 950px;
}



